@import "../../lib/fragment/yo-list";
@import "../../lib/element/yo-input";

.findlist{
	label:first-child{
		
		height:.24rem;
		line-height:.24rem;
		input:nth-child(1){
			
			position:absolute;
		
			
		}
		input:nth-child(2){
			position:absolute;
			right:-2.80rem;
			background:#f0f;
			
		}
	}
} 